#solicitudPedido fieldset:not(:first-of-type) {
	display: none;
}

#map {
	position: relative;
	border: 1px solid black;
	border-radius: 8px;
	height: 500px;
	width: 100%;
}

.list-item-title {
	font-weight: bold;
	background-color: #fe974b;
}

.item-selected {
	background-color: #76D4F5;
}

input[type=datetime-local] {
	font-family: 'Open Sans', sans-serif;
	color: #4f5f6f;
}